HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/*
.idea/vcs.xml
.idea/workspace.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### application.properties 파일 ###
application.properties
firebasefbsvc*

### SSL Certificate Files ###
src/main/resources/ssl/*.pem
src/main/resources/ssl/*.p12
src/main/resources/ssl/keystore.*

# macOS ###
# macOS Finder files
**/.DS_Store
**/.DS_Store/**

**/ssl/*

**/upload/*